@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GİRİŞ</title>
    <link rel="stylesheet" href="style.css"> 
  


</head>

<body>


    <div class="login-form">
    <div class="container">
        <h1>GİRİŞ</h1>
        <form id="loginForm">
            <div>
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Şifre</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Giriş Yap</button>
            </div>
        </form>
        <p id="message"></p>
    </div>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (username === "admin" && password === "admin") {
                window.location.href = "/Home/Anasayfa"; // Doğru kullanıcı adı ve şifre, yönlendirme yapılır
            } else {
                document.getElementById("message").textContent = "Kullanıcı adınız veya şifreniz yanlış tekrar giriniz.";
            }
        });
    </script>
    </>

</body>
</html>



